.hello-world{
    background-image: url('http://placekitten.com/1920/1080');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

body, html {
    height: 100%;
    margin:0px;
  }