h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.75em;
    color: #333;
}

h1 span{
    color:  #A502FA;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.25em;
    color:  #A502FA;
}

h2 span{
    color:#333;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2em;
    color: #333;
}
h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.25em;
    color: #333;
}

.easter-hero{
    background-image: url("img/easteregg.jpg");
    background-position: center;
    background-size: cover;
}
.go-back{
    display: none;
    text-align: center;
}

.visible{
    display: block;
}

.easter-text{
    display: none;
}

.back-top{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 0.85em;
}

.tipo-container{
    margin:45px 0px;
}

li{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #555;
}

.tipo-example{
    color: #555;
    font-size: 3em;
}

.sans-serif{
    font-family: 'Roboto', sans-serif; 
}

.serif{
    font-family: 'Roboto Slab', serif;
}

.display{
    font-family: 'Ceviche One', cursive;
}

.handwriting{
    font-family: 'Dancing Script', cursive;
}

p{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    color: #333;
}

.external-link{
    color:#A502FA;
    transition: 0.15s all ease;
}

.external-link:hover{
    color: #FA0F9D;
    text-decoration: none;
}

.custom-btn{
    border-radius: 36px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.25em;
    padding: 5px 45px;
    letter-spacing: 2px;
    border:2px solid #A502FA;
    color: #A502FA;
}
.custom-btn:hover{
    background-color:  #A502FA;
    color: white;
}

.back-top{
    color: #FA0F9D;
    transition: 0.15s all ease;
}

.back-top:hover{
    color:#A502FA;
    text-decoration: none;
}

.container-custom{
    max-width: 1366px;
    margin: 110px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.hello-world {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body,
html {
    height: 100%;
    margin: 0px;
}

.buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}


.buttons-wrapper .btn:nth-child(n) {
    margin-left: 30px;
}

.container-custom>h2 {
    margin-bottom: 30px;
}

.gallery-gestalt {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#gestalt>.principle>h3 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.gallery-gestalt-img {
    margin: 25px 50px;
}

.container-custom>.back-top {
    margin-top: 40px;
    margin-left: auto;
}

.col-md-6>h3 {
    margin-bottom: 20px;
}

.first-row {
    margin-bottom: 110px;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide > img{
    max-width: 100%;
    object-fit: contain;

}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: black;
    max-height:  200px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


@media screen and (max-width:425px) {
    .buttons-wrapper .btn:nth-child(n) {
        margin-left: 0px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1366px){
    .container-custom{
        margin-left: 15px;
        margin-right: 15px;
    }

    .swiper-slide{
        height: 100px;
        object-fit: cover;
    }
}